<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Upload Images</title>
    <base href="/" />
  </head>
  <body>
    <h1>Simple Upload Images</h1>
    <div id="root"></div>
  </body>
</html>
